<div class="container mt-5">
  <div class="d-flex justify-content-center gap-5">
    <input type="datetime-local" #input />
    <button class="btn btn-primary" (click)="calculate(input)">
      Calculate
    </button>
  </div>

  <div class="">
    <div class="span-div">
      <span>{{ years }}</span
      ><span>{{ months }}</span
      ><span>{{ days }}</span
      ><span>{{ hours }}</span
      ><span>{{ minutes }}</span
      ><span>{{ seconds }}</span>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
