input[type="datetime-local"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.span-div > span {
  display: inline-block;
  font-size: 80px;
  margin-left: 60px;
}
